@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
}